__pycache__/
*.py[cod]
/dist/
/build/
*.spec
desktop_app/frontend_electron/node_modules/
desktop_app/frontend_electron/dist/
desktop_app/frontend_electron/release/
desktop_app/frontend_electron/.vite/
